.first_page_logo{
    width: 26%;
}

.first_page_sch_logo{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.card_role{
    background: #0F7C9D;
    width: 60%;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 60px;
}

.card_role h2{
    font-size: 36px;
}

.role_teacher,
.role_student{
    width: 75%;
    padding: 40px ;
    background-color: white;
    color: black;
   border-radius: 20px;
}

.role_student img{
    border-radius: 50%;
    transition: all 1s ease;
}

.role_teacher img{
    border-radius: 50%;
    transition: all 1s ease;
}

.role_student:hover img{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    transform: scale(1.15);
    transition: all 1s ease;
}

.role_teacher:hover img{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    transform: scale(1.15);
    transition: all 1s ease;
}

.link_role_teacher:hover{
    text-decoration: none;
}

.role_student{
    float: right;
}

/* ========================= Reponesive  */
@media screen and (max-width: 767px) {
    .card_role{
        width: 90%;
    }
   
  }

@media screen and (max-width: 576px) {
    .card_role{
        width: 70%;
    }

    .role_teacher,
    .role_student{
        padding: 30px;
        margin: auto;
        width: 55%;
    }

    .role_student{
        float: none;
        margin-bottom: 40px;
    }
   
  }