.header_exam_paper{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #F9F9F9;
    padding: 0px 0px 25px 0px;
}

.header_exam_logo{
    width: 90%;
    margin: auto;
    padding: 20px 0px 0px 0px;

}

.header_title_exam_paper{
    width: 100%;
    color:#0F7C9D;
    margin-top: 20px;
}

.btn_exam_submit{
    background: #0F7C9D;
    border-radius: 5px;
    border: none;
    float: right;
    padding: 5px 20px;
    color: white;
}

/* =============== content_exam_paper */
/* .content_exam_paper{
    background-color: gray;
} */

.exam_section{
    width: 100%;
    border: 1px solid #ACACAC;
    padding: 20px 25px;
    margin-top: 23px;
    border-radius: 10px;
}

.section_title{
    color:#0F7C9D;
    padding: 0px 0px 5px 0px;
}

.exam_section input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
}