.st_contact_icon{
    color: #0F7C9D;;
    font-size: 20px;
}

.hh{
    width: 100px;
    background-color: red;
}

/* ====================== Resposive */

@media screen and (max-width: 767px) {
    .st_about_logo_school{
        width: 50%;
        margin: auto;
    }
}