/*     background: var(--color-surface-backdrop); */
.login_container{
    width: 90%;
    margin: auto;
}

.student_login{
    width: 50%;
    margin: auto;
    padding: 20px 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    background-color: white ;
}

.textbox_st_login{
    border-radius: 10px;
}

.stu_forget_pwd{
    text-align: right;
}

.btn_student_login{
    width: 100%;
    border: 1px solid #0F7C9D;
    border-radius: 10px;
    color: white;
    background: #0F7C9D;
    padding: 7px;
    margin-top: 10px;
}

/* ===================== Responsicve */
@media screen and (max-width: 992px) {
    .student_login{
        width: 70%;
    }
   
}


@media screen and (max-width: 767px) {
    .student_login{
        width: 70%;
    }

    .stu_forget_pwd{
        text-align: left;
        padding: 0px 0px 13px 0px;
    }

    .btn_student_login{
        margin-top: 0px;
    }
   
}