.student_history_chose_date{
   
    margin: 20px 0px;
}

.student_history_chose_date form select{
    background: #FFFFFF;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    padding: 5px 20px;
}