.st_register_gender{
    width: 100%;
}

.st_register_gender select{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ACACAC;
    padding: 6.8px;
    margin-bottom: 15px;
}

.student_register_profilee h3{
    /* background-color: blue; */
    text-align: center;
}

.student_register_profile_img{
    width: 80%;
    padding: 30px 20px;
    margin: auto;
    border: 1px solid #ACACAC;
    border-radius: 10px;
}

/* ===================== responsive */

@media screen and (max-width: 992px) {
    
    .student_register_profilee h3{
        text-align: left;
        padding: 10px 0px 0px 23px;
    }

    .student_register_profile_img{
        width: 60%;
       
    }
}

