/* *{
    font-family: poppins;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
} */





.student_body_dashboard{
    background: #F9F9F9;
    margin-left: 100px;
}

.student_navbar{
    background-color: white;
    position: fixed;
    width: 100px;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

.student_navbar .student_nav_logo{
    position: absolute;
    top: 20px;
    left: 25px;
}

.student_navbar ul{
    position: absolute;
    width: 100px;
    top: 100px;
    bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.student_navbar ul li{
    cursor: pointer;
}

.student_navbar ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #7DBCCB;
}

.student_navbar ul li a label{
    cursor: pointer;
}

.student_navbar ul li a.st_nav_active{
    color: #0F7C9D;
}

.student_navbar ul li a:hover{
    color: #0F7C9D;
}

/* .student_navbar ul li a p{
    background-color: brown;
} */

.Hello{
    font-size: 23px;
    padding-bottom: 0px;
    cursor: pointer;
}


/* ======================== Profile */

.student_profile{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 99;
    padding-right: 20px;
}

.student_in_pro{
    width: 50px;
    margin-right: 20px;
}

.student_in_pro img{
    border-radius: 50%;
    cursor: pointer;
}

.student_btn_join_exam{
    margin-right: 20px;
}

.student_btn_join_exam button{
    background: #0F7C9D;
    color: white;
    margin-top: 6px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
    border-radius: 20px;
    border: none;
    padding: 7px 20px;

}

.student_home_dashboard {
    margin-top: 60px;
}

.student_home_dashboard_in{
    width: 85%;
    margin: auto;
    padding: 0px 0px 0px 10px;
}

.box_have_exam{
    background-color: white;
    padding: 30px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
}

.start_exam_at,
.btn_join_exam_in {
    position: absolute;
    right: 30px;
}

.start_exam_at{
    top: 15px;
    color: #ACACAC;
}

.btn_join_exam_in{
    bottom: 30px;
    background: #0F7C9D;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    padding: 5px 25px;
}

.box_have_exam table{
    width: 100%;
}

.box_have_exam table tr{
    border-bottom: 1px solid gray;
}

.box_have_exam table tr th{
    padding: 7px 0px;
}

.box_have_exam table tr td{
    padding: 5px 0px;
}

.not{
    background: #FFFFFF;
    height: 500px;
    padding: 30px;
    margin: 20px 22px 0px 0px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
    border-radius: 20px;

}


/* ================== Logout dropdown */

.student_in_pro input[type=checkbox]{
    display: none;
}

.student_in_pro ul{
    
    display: none;
    position: absolute;
    list-style: none;
    text-align: left;
    width: 130px;
    z-index: 1;
    margin:0;
    padding: 0px 0px;
    right: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.student_in_pro ul li{
    padding: 5px;
    background-color: #fff;
    color: black;
    margin-bottom: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.student_in_pro ul li:hover{
    background-color:  #F9F9F9;
}

.student_in_pro ul li a{
    color: inherit;
    text-decoration: none; 
}

.student_in_pro ul li a label.icon{
    font-size: 22px; 
    margin: 0px 13px 0px 15px;
}

.student_in_pro input[type=checkbox]:checked ~ ul {
    display: block
}


/* ===================== Responsicve */
@media screen and (max-width: 1024px) {

    .student_profile{
        width: 87%;
    }

   
}

@media screen and (max-width: 992px) {

    /* .student_home_dashboard_in{
        width: ;
        padding: 0px 25px 0px 30px;
    } */

    .not{
        width: 80%;
        margin: 20px auto;
    }
}