.student_profile_detail{
    width: 85%;
    margin: auto;
    padding: 0px 0px 0px 10px;
}

.box_have_exam .btn_edit{
    position: absolute;
    right: 30px;
    top: 30px;
    background: #0F7C9D;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
}

.profile_img{
    padding: 5px;
}

.profile_img img{
    border-radius: 10px;
}

.stu_profile_detail_news{
    margin: 0px 0px 20px 0px;
}

.stu_profile_detail_news table{
    width: 70%;
    margin-bottom: 30px;
}

.stu_profile_detail_news table tr{
    border-bottom: none;
}


.btn_save_change{
    background: #7DBCCB;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    margin-right: 10px;
}

.btn_change_pwd{
    background: #0F7C9D;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    margin-right: 10px;
}



/* ======================= edit Profile */

.stu_profile_detail_news table tr td input{
    background: #FFFFFF;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
}

.btn_cancel_edit{
    background: #BD2000;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
}

/* ====================== modal change password */
.btn_change__new_pwd,
.btn_cancel_change_pwd{
    background-color:#0F7C9D ;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 10px 0px 0px;
    border: none;
}

.btn_cancel_change_pwd{
    background: #BD2000;

}


/* ================== reponvsiv */

@media screen and (max-width: 767px) {
    .profile_img{
        width: 70%;
        margin: 10px auto;
    }
}

