.student_forget_pwd{
    background: rgba(196, 196, 196, 0.5);
    width: 40%;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color:#0F7C9D;
}


.btn_forget{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.btn_student_submit_email{
    background: #0F7C9D;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 10px;
}

.btn_student_cancel_email{
    background: #BD2000;
    color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 20px;
}

@media screen and (max-width: 991px){
    .student_forget_pwd{
        width: 60%;
    }
}

@media screen and (max-width: 767px){
    .student_forget_pwd{
        width: 70%;
    }
}
