
.teacher_card_total_st{
    background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%);
    border-radius: 20px;
    padding: 20px;
}

.teacher_card_total_st_img{
    width: 50%;
    margin: auto;
}

/* .teacher_card_total_st img{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(230, 230, 230, 0.6) 28.13%, rgba(226, 226, 226, 0) 100%);
} */

.teacher_card_total_class_work{
    background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
    border-radius: 20px;
}

.teacher_card_total_st_request{
    background: linear-gradient(226.94deg, rgba(206, 255, 246, 0.53) 0%, #65BC57 100%);
    border-radius: 20px;
}

.teacher_card_total_st_generation{
    background: linear-gradient(226.94deg, rgba(255, 206, 235, 0.53) 0%, #BC5775 100%);
    border-radius: 20px;
}